* {
    font-family: 'Ranchers', cursive, sans-serif;
}

header {
    background-color: seashell;
    padding: 5px;
    text-align: center;
    border: solid rgb(221, 221, 221);
    border-radius: 5px;
}

body {
    background-color: slategray;
}

.the-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    /* justify-content: center; */
    /* align-content: space-between; */
}

.score-board {
    background-color: rgb(49, 47, 83);
    width: 300px;
    height: 100px;
    border: 3px solid rgb(221, 221, 221);
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.counter {
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    color: rgb(224, 224, 224);
}

.badge {
    background-color: tomato;
    width: 100px;
    height: 20px;
    border: 3px solid wheat;
    border-radius: 2px;
}

#user {
    position: absolute;
    bottom: 0px;
}

#computer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.result {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.images {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choices {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid rgb(236, 193, 113);
    transition: all 0.3s ease;
}

.choices:hover {
    cursor: pointer;
    box-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#slogan {
    text-align: center;
}